body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 562.5%;
  /* 100% = 16px; 1em = 16px; */
  margin-top: 50px;
  font-family: 'Comforter', cursive;
  margin-bottom: 0;
  color: #D4ECDD;
}

p {
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', cursive;
  font-size: 2.5rem;
  margin-top: 0;
  color: #345B63;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', cursive;
  color: #345B63;
}

.top-cont {
  background-color: #345B63;
  padding-top: 100px;
  position: relative;
}

.circle-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.skill-image-left {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.skill-image-right {
  width: 15%;
  float: right;
  margin-left: 30px;
}

/* .clear-par-right {
  clear: right;
}

.clear-par-left {
  clear: left;
} */
hr {
  border: none;
  border-top: dotted 8px lightgray;
  width: 5%;
  margin-top: 75px;
  margin-bottom: 75px;
}

.mid-cont {
  padding-bottom: 100px;
  background-color: #F7ECDE;
}

.bot-cont {
  background-color: #345B63;
  margin-bottom: 0;
  padding: 90px;
}

.profile {
  padding-top: 100px;
}

.margin-zero {
  margin-bottom: 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 100px;
  height: 100px;
}

.bot-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  width: 100px;
  height: 100px;
}

.mountain {
  margin-bottom: 0px;
}

.skill-row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}

.small-centered-paragraph {
  width: 24%;
  margin-left: auto;
  margin-right: auto;
}

.h3-with-marin-bot {
  margin-bottom: 50px;
}

.footer-link {
  margin-right: 20px;
  display: inline-block;
  color: white;
}

.footer-link:hover {
  color: gray;
}

.asocial:hover {
  color: gray;
}

.asocial {
  color: #D4ECDD;
  text-decoration: none;
}

/* .btn {
  color: #EAF6F6;
  background-color: #345B63;
  border-radius: 8%;
  padding: 12px;
  text-decoration: none;
  position: relative;
  top: 50px;
  font-family: 'Montserrat', cursive;
  display: inline-block;
  width: 150px;
  height: 20px;
}

.btn:hover {
  background-color: #152D35;
} */

.my-btn {
  background: #F7ECDE;
  background-image: -webkit-linear-gradient(top, #F7ECDE, #345B63);
  background-image: -moz-linear-gradient(top, #F7ECDE, #345B63);
  background-image: -ms-linear-gradient(top, #F7ECDE, #345B63);
  background-image: -o-linear-gradient(top, #F7ECDE, #345B63);
  background-image: linear-gradient(to bottom, #F7ECDE, #345B63);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #EAF6F6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 50px;
}

.my-btn:hover {
  background: #345B63;
  background-image: -webkit-linear-gradient(top, #345B63, #F7ECDE);
  background-image: -moz-linear-gradient(top, #345B63, #F7ECDE);
  background-image: -ms-linear-gradient(top, #345B63, #F7ECDE);
  background-image: -o-linear-gradient(top, #345B63, #F7ECDE);
  background-image: linear-gradient(to bottom, #345B63, #F7ECDE);
  text-decoration: none;
  color: #EAF6F6;
}

.white-p {
  color: #EAF6F6;
  background-color: #345B63;
  margin-top: 20px;
}

.contact-me {
  padding-bottom: 100px;
}

.cv {
  position: fixed;
  top: 10px;
  left: 5px;
}

.cv-img {
  width: 50px;
  height: 50px;
}

.cv a img:last-child {
  display: none;
}

.cv:hover a img:last-child {
  display: block;
}

.cv:hover img:first-child {
  display: none;
}
